.select-checkbox {
    width: 20%;
}

.my-build {
    margin-top: 5%;
    margin-bottom: 2%;
}

.btn-add, .btn-remove {
    width: 140px;
}

.my-tables-build {
    margin-bottom: 5%;
}

.build-my-meal {
    padding-left: 0px;
}

.my-col-ing-stock {
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn-remove {
    margin-right: 3%;
}

.my-build-receipt {
    margin-top: 5%;
}

.my-title-card {
    margin-top: 3%;
}

.my-h3-titles {
    margin-bottom: 1%;
}