.history-col {
    padding-left: 0px;
    padding-right: 0px;
}

.my-history {
    margin-top: 5%;
    margin-bottom: 2%;
}

.back-my-hist {
    padding-bottom: 5%;
}

.my-h3-titles-hist {
    margin-bottom: 3%;
}