.title-barcode {
    margin-top: 2%;
}

.my-form-prod {
    margin-top: 10%;
}

.my-inp-scan {
    margin-left: 10%;
    width: 80%;
}

.btn-new, .btn-save {
    margin-right: 3%;
    width: 20%;
    margin-top: 5%;
}